#pragma once
#include <stdint.h>

struct uio_info_t; // forward-decl

// for register map: {{json['registerMap']['name']}}

class {{CppClassName}}
{

public:
  /** Opens uio-mapped component by uio device number */
  {{CppClassName}} (unsigned int devnum);
  
  virtual ~{{CppClassName}} ();

  {% for register in json['registerMap']['registers'] %}

    // at register: {{register['name']}}
    {% for field in register['fields'] %}
      {% if register['access'] == "READ_ONLY" or register['access'] == "READ_WRITE" %}
        uint32_t read{{register['name']|to_camel}}{{field['name']|to_camel}} ();
      {% endif %}
      {% if register['access'] == "WRITE_ONLY" or register['access'] == "READ_WRITE" %}
        void write{{register['name']|to_camel}}{{field['name']|to_camel}} (uint32_t value);
      {% endif %}
    {% endfor %}

  {% endfor %}

private:
  uio_info_t* m_uioInfo;

};
